doctype html
html
  head
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    title Sign Up
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,500', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Exo:100', rel='stylesheet', type='text/css')
    link(href='Styles/style_remover.css', rel='stylesheet', type='text/css')
    link(href='Styles/index_style.css', rel='stylesheet', type='text/css')
    link(rel='icon', href='Images/stride.ico', type='image/x-icon')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
      $(document).ready(function(){
      $('#encompass').fadeIn('1000');
      });
  body
    #encompass.hidden
      #header
        ul#nav
          li(style='color:#ABD6CB')
            a(href='/') Home
          li
            a(href='/products') Product
          li
            a(href='/about') About Us
          li
            a(href='/contact') Contact Us
        form#login
          input.input(type='text', name='Username', value='Username')
          input.input(type='password', name='Password', value='Password')
          input#button(type='submit', name='Submit', value='Log In')
      #container
        #signuptitle Sign Up
        form#signup(action='confirm.html')
          table
            tr
              td
                .inputtitle First Name
              td
                #second.inputtitle Last Name
            tr
              td
                input#nameinput(type='text', name='firstname')
              td#second
                input#nameinput(type='text', name='lastname')
            tr
              td(colspan='2')
                .inputtitle Email
                input#input(type='text', name='email')
            tr
              td(colspan='2')
                .inputtitle Password
                input#input(type='password', name='password')
            tr
              td(colspan='2')
                .inputtitle Confirm Password
                input#input(type='password', name='confirm')
            tr
              td
                #radiotitle.inputtitle Teacher
                input.radiobutton(type='radio', name='typeteach')
              td
                #radiotitle.inputtitle Student
                input.radiobutton(type='radio', name='typelearn')
            tr
              td(colspan='2')
                input#signupformbutton(type='submit', name='submit', value='Sign Up')